# Maven and Gradle build directories
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/**
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Node modules and package lock
node_modules/
package-lock.json

# Tailwind CSS Output
src/main/resources/static/css/output.css

# Mac OS files
.DS_Store

# Log files
*.log