<div th:fragment="1-bit-summator-schema-fragment" class="min-w-min">
    <span class="text-xl font-bold">1-bit sumator</span>

    <div class="grid grid-rows-2 xl:grid-rows-1 xl:grid-cols-2 gap-4">
        <div class="grid grid-cols-[20%_60%_20%]">
            <div class="grid grid-flow-row place-items-center justify-items-end mt-4">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a">
                    <span class="flex-1 text-center bg-yellow-200">A</span>
                    <input type="checkbox" class="hidden" id="a"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b">
                    <span class="flex-1 text-center bg-yellow-200">B</span>
                    <input type="checkbox" class="hidden" id="b"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="c">
                    <span class="flex-1 text-center bg-yellow-200">C<sub>n</sub></span>
                    <input type="checkbox" class="hidden" id="c"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <object class="flex justify-self-center self-center" id="1-bit-summator-schema"
                    data="/svg/schema/1-bit-summator/1-bit-summator-schema.svg"
                    type="image/svg+xml">
            </object>

            <div class="grid grid-flow-row place-items-center justify-items-start">
                <label class="checkbox-label flex w-16 border-2 border-gray-400 rounded-lg overflow-hidden" for="q">
                    <input type="checkbox" class="hidden" id="q" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">C<sub>n+1</sub></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-gray-400 rounded-lg overflow-hidden" for="s">
                    <input type="checkbox" class="hidden" id="s" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">S</span>
                </label>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <object class="flex justify-self-center self-center" id="1-bit-summator-schema-symbol"
                    data="/svg/schema/1-bit-summator/1-bit-summator-schema-symbol.svg"
                    type="image/svg+xml">
            </object>

            <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10 bg-yellow-200">A</th>
                    <th class="border border-slate-300 w-10 bg-yellow-200">B</th>
                    <th class="border border-slate-300 w-10 bg-yellow-200">C<sub>n</sub></th>
                    <th class="border border-slate-300 w-10 bg-orange-200">C<sub>n+1</sub></th>
                    <th class="border border-slate-300 w-10 bg-orange-200">S</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()"
                title="Kliknij, aby wygenerować losowe wartości wejściowe dla układu logicznego">
            Losuj wejścia
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="oneBitSumatorOutput()"
                title="Kliknij, aby zobaczyć wynik operacji układu logicznego na podstawie bieżących wejść">
            Pokaż wynik
        </button>
    </div>

    <br>
    <hr>
    <br>

    <p>
        Sumator jednobitowy jest układem cyfrowym, który posiada dwa wejścia dla sumowanych bitów A i B, wejście przeniesienia z poprzedniego sumatora Cn (ważne w układach sumujących więcej niż jeden bit), wyjście sumy Σ oraz wyjście przeniesienia do następnego sumatora Cn+1.
    </p>
</div>