<div th:fragment="1-bit-summator-schema-fragment">
    <span class="text-xl font-bold">1-bit sumator</span>

    <div class="grid grid-cols-[10%_30%_10%_25%_20%] gap-4">
        <div class="grid grid-flow-row place-items-center justify-items-end">
            <input id="a"
                   class="text-center border border-2 border-gray-400 rounded focus:border-blue-500 hover:border-blue-500 valid:border-green-500 invalid:border-red-500"
                   type="number" placeholder="A" min="0" max="1" required pattern="[01]">
            <input id="b"
                   class="text-center border border-2 border-gray-400 rounded focus:border-blue-500 hover:border-blue-500 valid:border-green-500 invalid:border-red-500"
                   type="number" placeholder="B" min="0" max="1" required pattern="[01]">
            <input id="c"
                   class="text-center border border-2 border-gray-400 rounded focus:border-blue-500 hover:border-blue-500 valid:border-green-500 invalid:border-red-500"
                   type="number" placeholder="C(n)" min="0" max="1" required pattern="[01]">
        </div>

        <object class="flex justify-self-center self-center" id="1-bit-summator-schema" data="/svg/schema/1-bit-summator-schema.svg"
                type="image/svg+xml">
        </object>

        <div class="grid grid-flow-row place-items-center justify-items-start">
            <input id="q" class="text-center border border-2 border-gray-400 rounded w-24" type="text"
                   placeholder="C(n+1)"
                   readonly>
            <input id="s" class="text-center border border-2 border-gray-400 rounded w-24" type="text"
                   placeholder="S"
                   readonly>
        </div>

        <object class="flex justify-self-center self-center" id="1-bit-summator-schema-symbol" data="/svg/schema/1-bit-summator-schema-symbol.svg"
                type="image/svg+xml">
        </object>

        <div class="flex justify-center item-center">
            <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10">A</th>
                    <th class="border border-slate-300 w-10">B</th>
                    <th class="border border-slate-300 w-10">C<sub>n</sub></th>
                    <th class="border border-slate-300 w-10">C<sub>n+1</sub></th>
                    <th class="border border-slate-300 w-10">S</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()">
            Losuj
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="oneBitSumatorOutput()">
            Generuj
        </button>
    </div>

    <br>
    <hr>
    <br>

    <p>

    </p>
</div>