<div th:fragment="4-bit-serial-transfer-summator-schema-fragment">
    <span class="text-xl font-bold">4-bit sumator z przeniesieniem szeregowym</span>

    <div class="overflow-x-auto">
        <div class="flex justify-center min-w-min grid grid-flow-col grid-cols-[min-content_min-content_min-content_min-content_min-content_min-content_min-content_min-content_min-content] mt-4 mb-4">
            <div class="grid grid-flow-row place-items-center justify-items-end">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr5">
                    <span class="flex-1 text-center bg-orange-200">C<sub>5</sub></span>
                    <input type="checkbox" class="hidden" id="cr5" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a4">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>4</sub></span>
                        <input type="checkbox" class="hidden" id="a4"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b4">
                        <input type="checkbox" class="hidden" id="b4"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>4</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-4"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s4">
                        <span class="flex-1 text-center bg-orange-200">S<sub>4</sub></span>
                        <input type="checkbox" class="hidden" id="s4" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr4">
                    <span class="flex-1 text-center bg-orange-200">C<sub>4</sub></span>
                    <input type="checkbox" class="hidden" id="cr4" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a3">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>3</sub></span>
                        <input type="checkbox" class="hidden" id="a3"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b3">
                        <input type="checkbox" class="hidden" id="b3"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>3</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-3"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s3">
                        <span class="flex-1 text-center bg-orange-200">S<sub>3</sub></span>
                        <input type="checkbox" class="hidden" id="s3" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr3">
                    <span class="flex-1 text-center bg-orange-200">C<sub>3</sub></span>
                    <input type="checkbox" class="hidden" id="cr3" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a2">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>2</sub></span>
                        <input type="checkbox" class="hidden" id="a2"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b2">
                        <input type="checkbox" class="hidden" id="b2"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>2</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-2"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s2">
                        <span class="flex-1 text-center bg-orange-200">S<sub>2</sub></span>
                        <input type="checkbox" class="hidden" id="s2" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr2">
                    <span class="flex-1 text-center bg-orange-200">C<sub>2</sub></span>
                    <input type="checkbox" class="hidden" id="cr2" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a1">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>1</sub></span>
                        <input type="checkbox" class="hidden" id="a1"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b1">
                        <input type="checkbox" class="hidden" id="b1"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>1</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-1"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s1">
                        <span class="flex-1 text-center bg-orange-200">S<sub>1</sub></span>
                        <input type="checkbox" class="hidden" id="s1" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-start">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="c1">
                    <input type="checkbox" class="hidden" id="c1"/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-yellow-200">C<sub>1</sub></span>
                </label>
            </div>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()"
                title="Kliknij, aby wygenerować losowe wartości wejściowe dla układu logicznego">
            Losuj wejścia
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="fourBitSumatorOutput()"
                title="Kliknij, aby zobaczyć wynik operacji układu logicznego na podstawie bieżących wejść">
            Pokaż wynik
        </button>
    </div>

    <div class="flex items-center gap-2 mt-4 mb-2">
        <svg onclick="toggleDescription()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke-width="2" id="toggleArrow" style="transform: rotate(90deg);">
            <title>Wciśnij aby pokazać/ukryć opis</title>
            <path stroke="#4a5568" stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
        <hr class="flex-grow">
    </div>

    <div id="description" class="gate-description active p-4 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-xl font-bold text-gray-800 mb-4">Charakterystyka 4-bitowego sumatora z przeniesieniem szeregowym</h1>
        <p class="text-gray-700 mb-2">
            4-bitowy sumator z przeniesieniem szeregowym to układ, który dodaje dwie 4-bitowe liczby binarne oraz ewentualne przeniesienie wejściowe, generując 4-bitową sumę i przeniesienie wyjściowe.
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Równanie</h2>
        <p class="text-gray-700 mb-2">
            Równania dla każdego bitu są takie same jak dla sumatora 1-bitowego, z sekwencyjnym przekazywaniem przeniesień między kolejnymi bitami.
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Zastosowanie</h2>
        <p class="text-gray-700 mb-2">
            Te sumatory są stosowane w większości procesorów i systemów mikrokontrolerowych do realizacji operacji arytmetycznych na większych grupach bitów.
        </p>
    </div>
</div>