<div th:fragment="4-bit-serial-transfer-summator-schema-fragment">
    <span class="text-xl font-bold">4-bit sumator z przeniesieniem szeregowym</span>

    <div class="overflow-x-auto">
        <div class="flex justify-center min-w-min grid grid-flow-col grid-cols-[min-content_min-content_min-content_min-content_min-content_min-content_min-content_min-content_min-content] mt-4 mb-4">
            <div class="grid grid-flow-row place-items-center justify-items-end">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr5">
                    <span class="flex-1 text-center bg-orange-200">C<sub>5</sub></span>
                    <input type="checkbox" class="hidden" id="cr5" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a4">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>4</sub></span>
                        <input type="checkbox" class="hidden" id="a4"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b4">
                        <input type="checkbox" class="hidden" id="b4"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>4</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-4"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s4">
                        <span class="flex-1 text-center bg-orange-200">S<sub>4</sub></span>
                        <input type="checkbox" class="hidden" id="s4" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr4">
                    <span class="flex-1 text-center bg-orange-200">C<sub>4</sub></span>
                    <input type="checkbox" class="hidden" id="cr4" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a3">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>3</sub></span>
                        <input type="checkbox" class="hidden" id="a3"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b3">
                        <input type="checkbox" class="hidden" id="b3"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>3</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-3"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s3">
                        <span class="flex-1 text-center bg-orange-200">S<sub>3</sub></span>
                        <input type="checkbox" class="hidden" id="s3" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr3">
                    <span class="flex-1 text-center bg-orange-200">C<sub>3</sub></span>
                    <input type="checkbox" class="hidden" id="cr3" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a2">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>2</sub></span>
                        <input type="checkbox" class="hidden" id="a2"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b2">
                        <input type="checkbox" class="hidden" id="b2"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>2</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-2"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s2">
                        <span class="flex-1 text-center bg-orange-200">S<sub>2</sub></span>
                        <input type="checkbox" class="hidden" id="s2" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="cr2">
                    <span class="flex-1 text-center bg-orange-200">C<sub>2</sub></span>
                    <input type="checkbox" class="hidden" id="cr2" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-center">
                <div class="grid grid-flow-col place-items-center justify-items-center gap-6">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a1">
                        <span class="flex-1 text-center bg-yellow-200">A<sub>1</sub></span>
                        <input type="checkbox" class="hidden" id="a1"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="b1">
                        <input type="checkbox" class="hidden" id="b1"/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-yellow-200">B<sub>1</sub></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="4-bit-sumator-1"
                        data="/svg/schema/4-bit-serial-transfer-sumator/4-bit-serial-transfer-summator-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-col place-items-center justify-items-center gap-4">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="s1">
                        <span class="flex-1 text-center bg-orange-200">S<sub>1</sub></span>
                        <input type="checkbox" class="hidden" id="s1" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>
            </div>

            <div class="grid grid-flow-row place-items-center justify-items-start">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="c1">
                    <input type="checkbox" class="hidden" id="c1"/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-yellow-200">C<sub>1</sub></span>
                </label>
            </div>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()">
            Losuj
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="fourBitSumatorOutput()">
            Generuj
        </button>
    </div>

    <br>
    <hr>
    <br>

    <p>
        4-bitowy sumator z przeniesieniem szeregowym to cyfrowe urządzenie kombinacyjne, które jest w stanie zsumować dwie czterobitowe liczby binarne razem z przeniesieniem wejściowym. Zwraca wynik w postaci czterobitowej sumy oraz przeniesienia wyjściowego, które może być przekazane do kolejnego sumatora w przypadku łańcuchowej konfiguracji sumatorów.

        W uproszczeniu, sumator taki składa się z czterech 1-bitowych sumatorów pełnych (ang. full adder), gdzie każdy sumator sumuje dwa bity wejściowe i przeniesienie z poprzedniego sumatora. Pierwszy sumator otrzymuje przeniesienie wejściowe, a każdy następny otrzymuje przeniesienie wyjściowe z poprzednika, przekazując je do kolejnego sumatora. Ostatnie przeniesienie jest przeniesieniem wyjściowym całego urządzenia.

        Takie urządzenie znajduje zastosowanie w układach cyfrowych, gdzie potrzebna jest możliwość sumowania wielobitowych liczb, na przykład w procesorach i innych układach logicznych.
    </p>
</div>