<div th:fragment="bcd-to-aiken-converter-schema-fragment" class="min-w-min">
    <span class="text-xl font-bold">Konwerter z BCD na Aiken'a</span>

    <div class="grid grid-rows-2 xl:grid-rows-1 xl:grid-cols-[75%_25%]">
        <div class="grid grid-rows-1 grid-cols-[10%_80%_10%]">
            <div class="grid grid-flow-row place-items-center justify-items-end">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="d">
                    <span class="flex-1 text-center bg-yellow-200">d</span>
                    <input type="checkbox" class="hidden" id="d"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="c">
                    <span class="flex-1 text-center bg-yellow-200">c</span>
                    <input type="checkbox" class="hidden" id="c"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="b">
                    <span class="flex-1 text-center bg-yellow-200">b</span>
                    <input type="checkbox" class="hidden" id="b"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="a">
                    <span class="flex-1 text-center bg-yellow-200">a</span>
                    <input type="checkbox" class="hidden" id="a"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <object class="flex justify-self-center self-center" id="bcd-to-aiken-converter-schema"
                    th:data="@{/svg/schema/bcd-to-aiken-converter/bcd-to-aiken-converter-schema.svg(v=${@environment.getProperty('info.app.version')})}"
                    type="image/svg+xml">
            </object>

            <div class="grid grid-flow-row place-items-center justify-items-start">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                       for="rd">
                    <input type="checkbox" class="hidden" id="rd" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">D</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                       for="rc">
                    <input type="checkbox" class="hidden" id="rc" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">C</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                       for="rb">
                    <input type="checkbox" class="hidden" id="rb" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">B</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                       for="ra">
                    <input type="checkbox" class="hidden" id="ra" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">A</span>
                </label>
            </div>
        </div>

        <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center my-auto">
            <thead>
            <tr>
                <th rowspan="2" class="border border-slate-300 bg-green-300 w-20">Cyfra</th>
                <th colspan="4" class="border border-slate-300 bg-yellow-300 w-10">BCD</th>
                <th colspan="4" class="border border-slate-300 bg-orange-300 w-10">AIKEN</th>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-yellow-200 w-10">d</th>
                <th class="border border-slate-300 bg-yellow-200 w-10">c</th>
                <th class="border border-slate-300 bg-yellow-200 w-10">b</th>
                <th class="border border-slate-300 bg-yellow-200 w-10">a</th>

                <th class="border border-slate-300 bg-orange-200 w-10">D</th>
                <th class="border border-slate-300 bg-orange-200 w-10">C</th>
                <th class="border border-slate-300 bg-orange-200 w-10">B</th>
                <th class="border border-slate-300 bg-orange-200 w-10">A</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th class="border border-slate-300 bg-green-200">0</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>

                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">1</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>

                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">2</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>

                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">3</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>

                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">4</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>

                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">5</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">6</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">7</th>

                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">8</th>

                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">0</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">9</th>

                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">0</td>
                <td class="border border-slate-300 bg-yellow-100">1</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>

            <tr>
                <th class="border border-slate-300 bg-green-200">10 - 15</th>

                <td class="border border-slate-300 bg-yellow-100">1</td>
                <td class="border border-slate-300 bg-yellow-100">X</td>
                <td class="border border-slate-300 bg-yellow-100">X</td>
                <td class="border border-slate-300 bg-yellow-100">X</td>

                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
                <td class="border border-slate-300 bg-orange-100">1</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()"
                title="Kliknij, aby wygenerować losowe wartości wejściowe dla układu logicznego">
            Losuj wejścia
        </button>
        <button id="toggleButton"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="bcdToAikenConverter.converterOutput()"
                title="Kliknij, aby zobaczyć wynik operacji układu logicznego na podstawie bieżących wejść">
            Pokaż wynik
        </button>
    </div>

    <div class="flex items-center gap-2 mt-4 mb-2">
        <svg onclick="toggleDescription()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke-width="2" id="toggleArrow" style="transform: rotate(90deg);">
            <title>Wciśnij aby pokazać/ukryć opis</title>
            <path stroke="#4a5568" stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
        <hr class="flex-grow">
    </div>

    <div id="description" class="gate-description active p-4 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-xl font-bold text-gray-800 mb-4">Charakterystyka konwertera BCD na kod Aiken'a</h1>
        <p class="text-gray-700 mb-2">
            Konwerter z BCD (Binary-Coded Decimal) na kod Aiken'a przekształca cyfry dziesiętne zakodowane binarnie na kod Aiken'a, który jest kodem ważonym i używanym do celów arytmetycznych.
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Zastosowanie</h2>
        <p class="text-gray-700 mb-2">
            Wykorzystywany w systemach obliczeniowych i finansowych, gdzie wymagana jest większa odporność na błędy oraz lepsza kontrola nad operacjami arytmetycznymi.
        </p>
    </div>
</div>