<div th:fragment="decimal-to-8421-converter-schema-fragment" class="min-w-min">
    <span class="text-xl font-bold">Konwerter z klawiatury numerycznej na 8421</span>

    <div class="grid grid-rows-2 xl:grid-rows-1 xl:grid-cols-[20%_80%]">
        <div class="flex items-center justify-center ml-5">
            <div class="grid grid-cols-3 gap-4 p-4 min-w-full">
                <!-- Numbers 0-9 -->
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,0,1,1,1,1,1,1,1,1])">1</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,0,1,1,1,1,1,1,1])">2</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,0,1,1,1,1,1,1])">3</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,0,1,1,1,1,1])">4</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,0,1,1,1,1])">5</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,1,0,1,1,1])">6</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,1,1,0,1,1])">7</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,1,1,1,0,1])">8</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,1,1,1,1,0])">9</button>
                <button class="p-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([0,1,1,1,1,1,1,1,1,1])">0</button>

                <!-- Reset Button -->
                <button class="col-span-2 p-2 bg-red-500 text-white font-bold rounded hover:bg-red-700 focus:outline-none"
                        onclick="decimalTo8421Converter.converterOutput([1,1,1,1,1,1,1,1,1,1])">Reset</button>
            </div>
        </div>

        <div class="min-w-min grid grid-rows-1 grid-cols-[10%_70%_20%] gap-4">
            <div class="grid grid-flow-row place-items-center justify-items-end pt-10 pb-20 gap-1">
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl0">
                    <span class="flex-1 text-center bg-yellow-200">KL0</span>
                    <input type="checkbox" class="hidden" id="kl0" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl1">
                    <span class="flex-1 text-center bg-yellow-200">KL1</span>
                    <input type="checkbox" class="hidden" id="kl1" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl2">
                    <span class="flex-1 text-center bg-yellow-200">KL2</span>
                    <input type="checkbox" class="hidden" id="kl2" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl3">
                    <span class="flex-1 text-center bg-yellow-200">KL3</span>
                    <input type="checkbox" class="hidden" id="kl3" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl4">
                    <span class="flex-1 text-center bg-yellow-200">KL4</span>
                    <input type="checkbox" class="hidden" id="kl4" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl5">
                    <span class="flex-1 text-center bg-yellow-200">KL5</span>
                    <input type="checkbox" class="hidden" id="kl5" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl6">
                    <span class="flex-1 text-center bg-yellow-200">KL6</span>
                    <input type="checkbox" class="hidden" id="kl6" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl7">
                    <span class="flex-1 text-center bg-yellow-200">KL7</span>
                    <input type="checkbox" class="hidden" id="kl7" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl8">
                    <span class="flex-1 text-center bg-yellow-200">KL8</span>
                    <input type="checkbox" class="hidden" id="kl8" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <label class="checkbox-label flex w-16 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                       for="kl9">
                    <span class="flex-1 text-center bg-yellow-200">KL9</span>
                    <input type="checkbox" class="hidden" id="kl9" checked/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
            </div>

            <object class="flex justify-self-center self-center" id="decimal-to-8421-converter-schema"
                    data="/svg/schema/decimal-to-8421-converter/decimal-to-8421-converter-schema.svg"
                    type="image/svg+xml">
            </object>

            <div class="grid grid-flow-row place-items-center justify-items-start pb-16 mt-6">
                <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden" for="rd">
                    <input type="checkbox" class="hidden" id="rd" disabled checked/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">D</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden" for="rc">
                    <input type="checkbox" class="hidden" id="rc" disabled checked/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">C</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden" for="rb">
                    <input type="checkbox" class="hidden" id="rb" disabled checked/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">B</span>
                </label>
                <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden" for="ra">
                    <input type="checkbox" class="hidden" id="ra" disabled checked/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">A</span>
                </label>
            </div>
        </div>
    </div>

    <div class="flex items-center gap-2 mt-4 mb-2">
        <svg onclick="toggleDescription()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke-width="2" id="toggleArrow" style="transform: rotate(90deg);">
            <path stroke="#4a5568" stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
        <hr class="flex-grow">
    </div>

    <div id="description" class="gate-description active p-4 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-xl font-bold text-gray-800 mb-4">Konwerter z klawiatury numerycznej na kod 8421</h1>
        <p class="text-gray-700 mb-2">
            Konwerter z klawiatury numerycznej na kod 8421 przekształca naciśnięcia klawiszy numerycznych na odpowiadające im cyfry binarne w systemie BCD, co umożliwia ich cyfrową obróbkę.
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Równania</h2>
        <p class="text-gray-700 mb-2">
            <code class="bg-gray-200 p-1 rounded">D = (KL<sub>0</sub> AND KL<sub>1</sub> AND KL<sub>2</sub> AND KL<sub>3</sub> AND KL<sub>4</sub> AND KL<sub>5</sub> AND KL<sub>6</sub> AND KL<sub>7</sub>)</code><br>
            <code class="bg-gray-200 p-1 rounded">C = (KL<sub>0</sub> AND KL<sub>1</sub> AND KL<sub>2</sub> AND KL<sub>3</sub> AND KL<sub>8</sub> AND KL<sub>9</sub>)</code><br>
            <code class="bg-gray-200 p-1 rounded">B = (KL<sub>0</sub> AND KL<sub>1</sub> AND KL<sub>4</sub> AND KL<sub>5</sub> AND KL<sub>8</sub> AND KL<sub>9</sub>)</code><br>
            <code class="bg-gray-200 p-1 rounded">A = (KL<sub>0</sub> AND KL<sub>2</sub> AND KL<sub>4</sub> AND KL<sub>6</sub> AND KL<sub>8</sub>)</code>
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Zastosowanie</h2>
        <p class="text-gray-700 mb-2">
            Stosowany w systemach wprowadzania danych, maszynach kasowych, bankomatach oraz innych urządzeniach, gdzie wymagane jest przekształcenie danych wejściowych z klawiatury na sygnały binarne.
        </p>
    </div>
</div>