<div th:fragment="rs-type-asynchronous-switch-schema-fragment" class="min-w-min">
    <span class="text-xl font-bold">Przerzutnik asynchroniczny typu RS</span>

    <div class="grid gird-rows-2 gap-4">
        <div class="grid grid-rows-2 xl:grid-rows-1 xl:grid-cols-[70%_30%] gap-4 xl:gap-0">
            <!--NAND-->
            <div class="grid grid-cols-3">
                <div class="grid grid-flow-row place-items-center justify-items-end">
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                           for="a1">
                        <span class="flex-1 text-center bg-yellow-200">S</span>
                        <input type="checkbox" class="hidden" id="a1"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <div></div>
                    <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                           for="b1">
                        <span class="flex-1 text-center bg-yellow-200">R</span>
                        <input type="checkbox" class="hidden" id="b1" checked/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="rs-asynchronous-switch-nand-schema"
                        data="/svg/schema/rs-asynchronous-switch/rs-asynchronous-switch-nand-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-row place-items-center justify-items-start">
                    <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden"
                           for="q1">
                        <input type="checkbox" class="hidden" id="q1" disabled checked/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-orange-200">Q</span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                           for="q1-neg">
                        <input type="checkbox" class="hidden" id="q1-neg" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-orange-200">Q&#773;</span>
                    </label>
                </div>
            </div>

            <table id="boardOfTruth-nand"
                   class="border-separate border border-slate-400 table-auto text-center my-auto w-full">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10 bg-yellow-200">S</th>
                    <th class="border border-slate-300 w-10 bg-yellow-200">R</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q&#773</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">X</td>
                    <td class="border border-slate-300 bg-orange-100">X</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">Q<sub>n-1</sub> = <span id="nandQPrevValue">1</span></td>
                    <td class="border border-slate-300 bg-orange-100">Q&#773<sub>n-1</sub> = <span id="nandQNotPrevValue">0</span></td>
                </tr>
                <tr>
                    <td colspan="4" class="border border-slate-300 bg-red-100">Stan zastrzeżony</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="grid grid-rows-2 xl:grid-rows-1 xl:grid-cols-[70%_30%] gap-4 xl:gap-0">
            <!--NOR-->
            <div class="grid grid-cols-3">
                <div class="grid grid-flow-row place-items-center justify-items-end">
                    <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                           for="b2">
                        <span class="flex-1 text-center bg-yellow-200">R</span>
                        <input type="checkbox" class="hidden" id="b2" checked/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                    <div></div>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden"
                           for="a2">
                        <span class="flex-1 text-center bg-yellow-200">S</span>
                        <input type="checkbox" class="hidden" id="a2"/>
                        <span class="flex-1 text-center bg-white"></span>
                    </label>
                </div>

                <object class="flex justify-self-center self-center" id="rs-asynchronous-switch-nor-schema"
                        data="/svg/schema/rs-asynchronous-switch/rs-asynchronous-switch-nor-schema.svg"
                        type="image/svg+xml">
                </object>

                <div class="grid grid-flow-row place-items-center justify-items-start">
                    <label class="checkbox-label flex w-14 border-2 border-red-400 rounded-lg overflow-hidden"
                           for="q2">
                        <input type="checkbox" class="hidden" id="q2" disabled checked/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-orange-200">Q</span>
                    </label>
                    <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden"
                           for="q2-neg">
                        <input type="checkbox" class="hidden" id="q2-neg" disabled/>
                        <span class="flex-1 text-center bg-white"></span>
                        <span class="flex-1 text-center bg-orange-200">Q&#773;</span>
                    </label>
                </div>
            </div>

            <table id="boardOfTruth-nor"
                   class="border-separate border border-slate-400 table-auto text-center my-auto w-full">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10 bg-yellow-200">R</th>
                    <th class="border border-slate-300 w-10 bg-yellow-200">S</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q&#773</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">Q<sub>n-1</sub> = <span id="norQPrevValue">1</span></td>
                    <td class="border border-slate-300 bg-orange-100">Q&#773<sub>n-1</sub> = <span id="norQNotPrevValue">0</span></td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">X</td>
                    <td class="border border-slate-300 bg-orange-100">X</td>
                </tr>
                <tr>
                    <td colspan="4" class="border border-slate-300 bg-red-100">Stan zastrzeżony</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()">
            Losuj
        </button>
        <button id="toggleButton"
                class="px-4 py-2 border border-gray-400 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="rsTypeAsynchronousSwitch.switchOutput()">
            Generuj
        </button>
    </div>

    <br>
    <hr>
    <br>

    <p>
        Przerzutnik asynchroniczny typu RS (Reset-Set) to prosty typ przerzutnika, który działa bez udziału sygnału
        zegarowego (CLK) do synchronizacji swojej działalności. Opart jest na dwóch wejściach: R (reset) i S (set).
        Działa na zasadzie bezpośredniej reakcji na zmiany stanów na tych wejściach, co oznacza, że odpowiedź wyjścia
        przerzutnika jest natychmiastowa w stosunku do zmian wejść.
    </p>
</div>