<div th:fragment="semi-summator-schema-fragment">
    <span class="text-xl font-bold">Półsumator</span>

    <div class="grid grid-cols-[10%_25%_20%_15%_30%] gap-4">
        <div class="grid grid-flow-row place-items-center justify-items-end">
            <input id="a"
                   class="text-center border border-2 border-gray-400 rounded focus:border-blue-500 hover:border-blue-500 valid:border-green-500 invalid:border-red-500"
                   type="number" placeholder="A" min="0" max="1" required pattern="[01]">
            <input id="b"
                   class="text-center border border-2 border-gray-400 rounded focus:border-blue-500 hover:border-blue-500 valid:border-green-500 invalid:border-red-500"
                   type="number" placeholder="B" min="0" max="1" required pattern="[01]">
        </div>

        <object class="flex justify-self-center self-center" id="semi-summator-schema" data="/svg/schema/semi-summator/semi-summator-schema.svg"
                    type="image/svg+xml">
        </object>

        <div class="grid grid-flow-row place-items-center justify-items-start">
            <input id="s" class="text-center border border-2 border-gray-400 rounded w-14" type="text"
                   placeholder="S"
                   readonly>
            <input id="q" class="text-center border border-2 border-gray-400 rounded w-14" type="text"
                   placeholder="C"
                   readonly>
        </div>

        <object class="flex justify-self-center self-center" id="semi-summator-schema-symbol" data="/svg/schema/semi-summator/semi-summator-schema-symbol.svg"
                type="image/svg+xml">
        </object>

        <div class="flex justify-center item-center">
            <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10">A</th>
                    <th class="border border-slate-300 w-10">B</th>
                    <th class="border border-slate-300 w-10">C</th>
                    <th class="border border-slate-300 w-10">S</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                    <td class="border border-slate-300">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()">
            Losuj
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="semiSumatorOutput()">
            Generuj
        </button>
    </div>

    <br>
    <hr>
    <br>

    <p>
        Półsumator (ang. half adder) to podstawowe urządzenie cyfrowe, które służy do dodawania dwóch bitów.
        Półsumator składa się z dwóch wejść i dwóch wyjść: sumy oraz przeniesienia.

        Półsumator generuje wyjście sumy poprzez wykonanie operacji XOR (wykluczającego OR) na dwóch wejściach.
        Oznacza to, że wyjście sumy jest ustawione na stan wysoki (1), gdy tylko jedno z wejść jest ustawione na
        stan wysoki (1), a drugie na stan niski (0). W pozostałych przypadkach wyjście sumy jest ustawione na stan
        niski (0).

        Wyjście przeniesienia półsumatora jest ustawione na stan wysoki (1), tylko gdy oba wejścia są ustawione na
        stan wysoki (1). W pozostałych przypadkach wyjście przeniesienia jest ustawione na stan niski (0).

        Półsumator jest podstawowym elementem składowym większych układów sumujących, takich jak sumatory pełne.
        Można go przedstawić graficznie za pomocą symbolu składającego się z koła, dwóch wejść (oznaczanych jako A i
        B) oraz dwóch wyjść (oznaczanych jako S i C).
    </p>
</div>
