@tailwind base;
@tailwind components;
@tailwind utilities;

.collapsible {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.collapsible.expanded {
    transition: max-height 0.25s ease-in;
    max-height: 1000px;
}

.content-collapsible {
    transition: margin-left 0.3s ease, width 0.3s ease;
    width: 100%;
    margin-left: 0;
}

.content-collapsible.collapsed {
    width: calc(100% - 250px);
    margin-left: 250px;
}

.sidebar-collapsible {
    transition: transform 0.3s ease-out;
    width: 250px;
    transform: translateX(-100%);
}

.sidebar-collapsible.expanded {
    transform: translateX(0);
}

.checkbox-label input[type="checkbox"] + span::after {
    content: '0';
    transition: content 0.3s;
}

.checkbox-label input[type="checkbox"]:checked + span::after {
    content: '1';
    transition: content 0.3s;
}

.gate-description {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0; /* start with max-height set to 0 */
    opacity: 0;
}

.gate-description.active {
    max-height: 1000px; /* maximum content height */
    opacity: 1;
}
