<div th:fragment="main-fragment" class="min-w-min">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Informacje podstawowe</h1>
    <p class="text-gray-700 mb-3">
        Na tej stronie znajdziesz interaktywne wizualizacje podstawowych bramek logicznych oraz wybranych układów
        logicznych (sumatory, przerzutniki i konwertery), które pomogą zrozumieć ich działanie w praktyce.
    </p>
    <h2 class="text-xl font-bold text-gray-800 mb-2">Legenda</h2>
    <ul class="list-disc pl-5 mb-4 space-y-2">
        <li>
            <div class="flex">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden">
                    <span class="flex-1 text-center bg-yellow-200">A</span>
                    <input type="checkbox" class="hidden"/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <span class="flex-1 ml-2"><strong>Wejścia:</strong> Pole oznaczone na <span
                        class="bg-yellow-200">żółto</span> jest miejscem, gdzie możesz zmienić wartość logiczną po przez klikniecie na element.</span>
            </div>
        </li>
        <li>
            <div class="flex">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden">
                    <input type="checkbox" class="hidden" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                    <span class="flex-1 text-center bg-orange-200">Q</span>
                </label>
                <span class="flex-1 ml-2"><strong>Wyjścia:</strong> Pole oznaczone na <span class="bg-orange-200">pomarańczowo</span> pokazuje
                    rezultat operacji bramki/układu.</span>
            </div>
        </li>
        <li>
            <div class="flex">
                <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden">
                    <span class="flex-1 text-center bg-gray-200">C</span>
                    <input type="checkbox" class="hidden" disabled/>
                    <span class="flex-1 text-center bg-white"></span>
                </label>
                <span class="flex-1 ml-2"><strong>Zegar stanu:</strong> Pole oznaczone na <span class="bg-gray-200">szaro</span> oznacza zegar w układach sekwencyjnych, służy do synchronizacji działań.</span>
            </div>
        </li>
        <li><strong>Przycisk 'Losuj wejścia':</strong> Generuje losowe wartości wejściowe dla bramek/układów.</li>
        <li><strong>Przycisk 'Pokaż wynik':</strong> Wyświetla wynik operacji bramki/układu na podstawie bieżących wejść.</li>
        <li><strong>Przycisk 'Start/Stop':</strong> Aktywuje zegar dla wybranego układu sekwencyjnego oraz wyznacza stan dla każdego wyjścia.</li>
        <li><strong>Ścieżki:</strong> Są kolorowane w momencie kliknięcia w przycisk 'Pokaż wynik' lub 'Start/Stop'. Czerwony kolor reprezentuje stan wysoki, natomiast czarny stan niski.
        </li>
        <li><strong>Tabela prawdy:</strong> Przedstawia wszystkie dostępne warianty dla danej bramki lub układu. W momencie pokazania wyniku, zostanie podświetlony odpowiedni wariant.
        </li>
    </ul>
    <p class="text-gray-600 italic">
        Zapraszamy do eksploracji i nauki przez interakcję!
    </p>
</div>