<div th:fragment="not-gate-fragment" class="min-w-min">
    <span class="text-xl font-bold">Bramka logiczna NOT</span>

    <div class="grid grid-cols-4">
        <div class="flex justify-end items-center">
            <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a">
                <span class="flex-1 text-center bg-yellow-200">A</span>
                <input type="checkbox" class="hidden" id="a"/>
                <span class="flex-1 text-center bg-white"></span>
            </label>
        </div>

        <object class="flex justify-self-center self-center" id="not-gate" data="/svg/gate/not-gate.svg"
                type="image/svg+xml">
            <!--Plik svg-->
        </object>

        <div class="flex justify-start items-center">
            <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="q">
                <input type="checkbox" class="hidden" id="q" disabled/>
                <span class="flex-1 text-center bg-white"></span>
                <span class="flex-1 text-center bg-orange-200">Q</span>
            </label>
        </div>

        <div class="flex justify-center items-center">
            <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10 bg-yellow-200">A</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()"
                title="Kliknij, aby wygenerować losową wartość wejściową dla bramki logicznej NOT">
            Losuj wejście
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="notGateOutput()"
                title="Kliknij, aby zobaczyć wynik operacji bramki logicznej NOT na podstawie bieżącego wejścia">
            Pokaż wynik
        </button>
    </div>


    <br>
    <hr>
    <br>

    <div class="not-gate-description p-4 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-xl font-bold text-gray-800 mb-4">Definicja Bramki NOT</h1>
        <p class="text-gray-700 mb-2">
            Bramka NOT, znana również jako inwerter, to bramka logiczna, która zwraca wartość przeciwną do otrzymanej wartości wejściowej. Działa na zasadzie negacji.
        </p>
        <p class="text-gray-700 mb-2">
            Jeżeli na wejściu otrzyma sygnał <span class="font-bold">true</span> (prawda), na wyjściu zwróci <span class="font-bold">false</span> (fałsz). Jeżeli na wejściu jest <span class="font-bold">false</span>, na wyjściu otrzymamy <span class="font-bold">true</span>.
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Równanie</h2>
        <p class="text-gray-700 mb-2">
            Równanie dla bramki NOT może być przedstawione jako: <code class="bg-gray-200 p-1 rounded">Q = NOT A</code> lub <code class="bg-gray-200 p-1 rounded">Q = &#172;A</code>
        </p>
        <h2 class="text-lg font-bold text-gray-800 mb-2">Zastosowanie</h2>
        <p class="text-gray-700 mb-2">
            Bramka NOT jest szeroko stosowana w elektronice i informatyce, w szczególności w układach cyfrowych i komputerowych. Służy do tworzenia skomplikowanych funkcji logicznych, jak i do sterowania przepływem danych w procesorach.
        </p>
    </div>

</div>