<div th:fragment="not-gate-fragment" class="min-w-min">
    <span class="text-xl font-bold">Bramka logiczna NOT</span>

    <div class="grid grid-cols-4">
        <div class="flex justify-end items-center">
            <label class="checkbox-label flex w-14 border-2 border-gray-400 rounded-lg focus:border-blue-500 hover:border-blue-500 overflow-hidden" for="a">
                <span class="flex-1 text-center bg-yellow-200">A</span>
                <input type="checkbox" class="hidden" id="a"/>
                <span class="flex-1 text-center bg-white"></span>
            </label>
        </div>

        <object class="flex justify-self-center self-center" id="not-gate" data="/svg/gate/not-gate.svg"
                type="image/svg+xml">
            <!--Plik svg-->
        </object>

        <div class="flex justify-start items-center">
            <label class="label flex w-14 border-2 border-gray-400 rounded-lg overflow-hidden" for="a">
                <span class="flex-1 text-center bg-white" id="q">0</span>
                <span class="flex-1 text-center bg-orange-200">Q</span>
            </label>
        </div>

        <div class="flex justify-center items-center">
            <table id="boardOfTruth" class="border-separate border border-slate-400 table-auto text-center">
                <thead>
                <tr>
                    <th class="border border-slate-300 w-10 bg-yellow-200">A</th>
                    <th class="border border-slate-300 w-10 bg-orange-200">Q</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">0</td>
                    <td class="border border-slate-300 bg-orange-100">1</td>
                </tr>
                <tr>
                    <td class="border border-slate-300 bg-yellow-100">1</td>
                    <td class="border border-slate-300 bg-orange-100">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex gap-4 justify-center mt-2 size-auto">
        <button type="button"
                class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="randomInputs()">
            Losuj
        </button>
        <button class="px-4 py-2 border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                onclick="notGateOutput()">
            Generuj
        </button>
    </div>


    <br>
    <hr>
    <br>

    <p>
        Bramka logiczna NOT (inaczej negacja) jest to podstawowy element logiczny, który przyjmuje jeden sygnał
        wejściowy i generuje jeden sygnał wyjściowy, który jest równy "prawda", gdy sygnał wejściowy jest równy "fałsz",
        oraz odwrotnie - gdy sygnał wejściowy jest równy "prawda", to sygnał wyjściowy jest równy "fałsz". Innymi słowy,
        bramka NOT implementuje operację logiczną "nie" dla jednej wartości logicznej.
    </p>
</div>